<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MunichCityLibraryReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>            
        </sectionGroup>
      
    </configSections>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
        <listeners>
            <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="MunichCityLibraryReminder" machineName="." traceOutputOptions="None"/>
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}
Thread Name: {threadName}{newline}
Win32 ThreadId:{win32ThreadId}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
        </formatters>
        <categorySources>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="Event Log Listener"/>
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events"/>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Event Log Listener"/>
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <userSettings>
        <MunichCityLibraryReminder.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="LandingPageUrl" serializeAs="String">
                <value>https://ssl.muenchen.de/aDISWeb/app?service=direct/0/Home/$DirectLink&amp;sp=SOPAC&amp;sp=SBK00000000</value>
            </setting>
            <setting name="BorrowalText" serializeAs="String">
                <value>Ausleihe zeigen oder verl&amp;#228;ngern</value>
            </setting>
            <setting name="BorrowalsText" serializeAs="String">
                <value>Ausleihen zeigen oder verl&amp;#228;ngern</value>
            </setting>
            <setting name="CardValidityText" serializeAs="String">
                <value>Ausweis g&amp;#252;ltig bis</value>
            </setting>
            <setting name="LogoutText" serializeAs="String">
                <value>Abmelden / Logout</value>
            </setting>
            <setting name="WarningDayCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LastCheckedTimestamp" serializeAs="String">
                <value/>
            </setting>
            <setting name="Email" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="Autoextend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationWebsite" serializeAs="String">
                <value>http://libraryreminder.codeplex.com/</value>
            </setting>
            <setting name="Appcast" serializeAs="String">
                <value>http://db.tt/YTVCtviI</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </MunichCityLibraryReminder.Properties.Settings>
    </userSettings>
   
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
