<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net40" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net462" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net462" />
  <package id="NetSparkle" version="1.1.0" targetFramework="net462" />
  <package id="NLog" version="4.4.6" targetFramework="net462" />
  <package id="NLog.Config" version="4.4.6" targetFramework="net462" />
  <package id="NLog.Schema" version="4.4.6" targetFramework="net462" />
  <package id="SimpleBrowser" version="0.5.79.0" targetFramework="net40" />
</packages>